@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Sofia&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
    text-decoration: none;
    outline: none;
}

html{
    scroll-behavior: smooth;
}

body{
    height: auto;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("body_design.png");
  background-size: cover;
  opacity: 0.7;
  z-index: -1;}

hr {
  border: 0; 
  height: 1px;
  width: 10%;
  background: linear-gradient(to right, transparent, #ffffff, transparent);
}



.menubar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 35px;
    text-align: right;
    transition: top 0.3s;
    display: block;
    background-color: rgb(133, 53, 252,0.8);
    z-index: 999;
}

.nklogo{
  position: absolute;
  height:27px;
  left: 20px;
  padding-bottom: 5px;

}

.menubar li, .menubar a{
    display:inline;
    color: white;
    padding: 15px;
}

.menubar li a:hover{
  background-color: white;
  color: black;
  transition:0.3s ease;
  width:100px;
  border-radius: 20px;
  font-weight: bolder;
  padding-bottom: 10px;
}

.frontcontainer, .aboutcontainer , .educationcontainer,.skillscontainer, .workcontainer, .contactcontainer{
  padding: 50px;
  min-height: 100vh;
  justify-content:center;
  align-items: center;
  text-align: center;
  display: block;
  z-index: 10;
}

.header{
  position: absolute;
  margin-left:45%;
  margin-top: 40px;
  color: white;
  font-size: larger;
  font-weight:900;
  text-align: center;
  width: 160px;
  border-radius: 30px;
  border:3px solid white;
  ;
}

/*-----------------------------------------------------------------------front----------------------------------------------------------*/

.text1 span {
  font-size: 32px;
  font-weight: 700;
}

.text1{
  margin-top: 10%;
  margin-left: 50%;
}

.typing-3 {
  background-color: white;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 30px;
  visibility: hidden; 
  animation: fadeIn 1s linear 4s forwards; 
}

@keyframes fadeIn {
  to {
    visibility: visible;
    opacity: 1;
  }
}

.upp{
  position: fixed;
  background-color:rgba(55, 55, 55, 0.3);
  border-radius: 10px;
  bottom: 50px;
  right: 50px;
  height: 50px;
  width: 50px;
  z-index: 11;
}

.upp:hover{
  height: 52px;
  width: 52px;
}

.cv{
  position: absolute;
  border: 0px;
  bottom: 50px;
  left: 50px;
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 10px;
  border-radius: 30px;
  transition: 0.5s ease-in-out;
}

.cv:hover{
  color: white;
  border: 2px solid white;
  transition: 0.5s ease-in-out;
  background-color: rgb(133, 53, 252);
}


/*-----------------------------------------------------------------------about----------------------------------------------------------*/

.abouttext{
  font-size: x-large;
  margin-top: 50px;
  color:greenyellow;
  border-radius: 30px;
}

.abtme{
  position: relative;
  border-radius: 10px;
  background-color:rgba(133, 53, 252,0.7);
  color: white;
  font-size: large;
  text-align: left;
  margin-top:150px ;
  padding: 10px;
  max-width: 700px;
  height:fit-content;
}


.nkphoto{
  position: relative;
  margin-top: 50px;
  border-radius: 10px;
  height: 550px;
  width:auto;
}

.aboutcontainer2{
  display: flex;
  position: relative;
  justify-content: space-evenly;
}

.logos2{
  margin-top: 20px;
  padding-bottom: 10px;
  
}

.logos2 ul li{
  display: inline;
  padding-right: 20px;
}

.logos2 .git i,.logos2 .lin i,.logos2 .ins i{
  width:15px;
  transition: ease;
  color: black;
}

.logos2 .git i:hover,.logos2 .lin i:hover,.logos2 .ins i:hover{
  width:15px;
  transition: ease;
  color: white;
}

.logos2 a::before {
  position: absolute;
  background-color: white;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  transform: translateY(100%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.logos2 li:hover .git::before {
  content: "Github";
  border: 3px solid white;
  background-color: black;
  color: white;
  opacity: 1;
  visibility: visible;
}

.logos2 li:hover .ins::before {
  content: "Instagram"; 
  border: 3px solid white;
  background-color: rgb(179, 0, 255);
  color: white;
  opacity: 1;
  visibility: visible;
}

.logos2 li:hover .lin::before {
  content: "Linkedin"; 
  border: 3px solid white;
  background-color:rgb(0, 114, 177) ;
  color: white;
  opacity: 1;
  visibility: visible;
}



/*-----------------------------------------------------------------------education----------------------------------------------------------*/


.educationtext{
  font-size: x-large;
  color: orange;
  margin-top: 50px;
  border-radius: 30px;
}

.main {
	width: 100%;
	height: auto;
  margin-top: 30px;
	display: grid;
	place-items: center;
	padding: 50px 0;
}

.timecontainer {
	width: 70%;
	height: auto;
	margin: auto 0;
	position: relative;
}
.timecontainer ul {
	list-style: none;
}
.timecontainer ul::after {
	content: " ";
	position: absolute;
	width: 2px;
	height: 100%;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	background-color: white;
}

.timecontainer ul li {
	width: 50%;
	height: auto;
	padding: 15px 20px;
	background-image: linear-gradient(135deg, rgb(173, 118, 255),rgb(133, 53, 252));
	border-radius: 8px;
	box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.218);
	position: relative;
	margin-bottom: 30px;
	z-index: 99;
}
.timecontainer ul li:nth-child(4) {
	margin-bottom: 0;
}
.timecontainer ul li .circle {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: white;
	top: 0;
	display: grid;
	place-items: center;
}
.circle::after{
	content: ' ';
	width: 12px;
	height: 12px;
	background-color: #7f00ff;
	border-radius: 50%;
}
.timecontainer ul li:nth-child(odd) .circle {
	transform: translate(50%, -50%);
	right: -30px;
}
.timecontainer ul li:nth-child(even) .circle {
	transform: translate(-50%, -50%);
	left: -30px;
}

.lastcircle {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: white;
	display: grid;
	place-items: center;
}

.lastcircle::after{
  transform: translate(-50%,-50%);
	content: ' ';
	width: 12px;
	height: 12px;
	border-radius: 50%;
}


.timecontainer ul li .date {
	position: absolute;
	width: 130px;
	height: 33px;
	background-image: linear-gradient(to right,#7f00ff,#e100ff);
	border-radius: 15px;
	top: -45px;
	display: grid;
	place-items: center;
	color: white;
  font-weight: bold;
	font-size: 13px;
	box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.318);
}
.timecontainer ul li:nth-child(odd) {
	float: left;
	clear: right;
	text-align: right;
	transform: translateX(-30px);
}
.timecontainer ul li:nth-child(odd) .date {
	right: 20px;
}
.timecontainer ul li:nth-child(even) {
	float: right;
	clear: left;
  text-align: left;
	transform: translateX(30px);
}
.timecontainer ul li .heading {
	font-size:large;
	color: greenyellow;
}
.timecontainer ul li p {
	font-size:medium;
	color: white;
	line-height: 18px;
	margin: 6px 0 4px 0;
}
.timecontainer ul li a {
	font-size: medium;
	text-decoration: none;
	color: black;
  font-weight: bold;
	transition: all 0.3s ease;
}

/*-----------------------------------------------------------------------skill----------------------------------------------------------*/

  


#logobox {
  position: relative;
  margin-top:50px;
  border: 2px solid white;
  background-color: rgb(255, 255, 255,0.3);
  padding: 10px;
  border-radius: 10px;
  width: 150px; 
  height: 150px; 
  object-fit:contain;
}


.logoskill {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
}

.skilltext{
  font-size: x-large;
  color: orange;
  margin-top: 50px;
  border-radius: 30px;
}


/*-----------------------------------------------------------------------work----------------------------------------------------------*/

.worktext{
  font-size: x-large;
  margin-top: 50px;
  color: greenyellow;
  border-radius: 30px;
}

.wrapper {
  width: 100%;
  position: relative;
  margin-top: 100px;  
}
.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
  left: -22px;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 4) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}

.card{
  background:linear-gradient(135deg, rgb(173, 118, 255),rgb(133, 53, 252));
}

.card .img img {
  width: 200px;
  height: 200px;
  border-radius: 8px;
  object-fit: cover;
  border: 4px solid #ffffff;
}
.carousel .card h2 {
  font-weight: 900;
  color: #ffffff;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}
.carousel .card span {
  color: black;
  font-size: 1.31rem;
}
@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}
@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}



/*-----------------------------------------------card inside-------------------*/

.card .video-container {
  display: none;
}

.card .img,.card h2,.card span{
  animation: slideInFromTop 1s ease;
}

.card:hover .video-container {
  display:inline-block;
  animation: slideInFromTop 1s ease;
}

@keyframes slideInFromTop {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

  @keyframes slideInFromBottom {
    from {
      opacity: 0;
      visibility: hidden;
      transform: translateY(0);
    }
    to {
      opacity: 1;
      visibility: visible;
      transform: translateY(-20px);
    }

}


.card:hover .img, .card:hover h2, .card:hover span {
  display: none;
}

.card .video-container .about_the_work{
  text-align: justify;
  max-height: 150px;
  max-width: 300px;
}

.card .video-container .try_button{
  color:black;
  font-weight: bold;
  background-color: white;
  margin-top: 10px;
  width: fit-content;
  padding: 5px;
  border-radius: 10px;
}

.card .video-container .try_button:hover{
  color:white;
  background-color: black;
  transition: 0.5s ease-in-out;
}

.card .video-container .try_button:hover .button{
  color:white;
  border: 1px white;
}


/*-----------------------------------------------------------------------contact----------------------------------------------------------*/

.letsconnect{
  margin-top:50px;
  color: black;
  font-weight: bold;
  font-size: x-large;
}

.emaill{
  border-radius: 30px;
}

.contactcontainer2{
  display: flex;
  flex-direction:unset;
  position: relative;
  justify-content: space-around;
}

.nk2{
  margin-top: 10px;
  height: 600px;
  width: auto;
  border-radius: 10px;
}

.contact-form {
  margin-top: 100px;
  border-collapse: separate;
  border-spacing: 50px 20px; 
}

.form-group-title{ 
  display: flex;
  border-radius: 30px;
  border:3px solid white;
  flex-direction: column;
  width: 150px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  font-size: larger;
  font-weight: 900;
  margin-top: 3px;
}


input,textarea{
  border-radius: 30px;
  border: 0px;
  padding-left:20px ;
  height: 40px;
  font-size: larger;
  font-weight: 900;
  width: 500px;
}

textarea{
  height:150px;
  padding-top: 10px;
}


.btn-md{
  width: 150px;
  height: 30px;
  border-radius: 30px;
  font-size: larger;
  font-weight: 900;
  margin-left: 300px;
  border: white;
}

.btn-md:hover{
  background-color: rgb(133, 53, 252);
  border: 2px solid white;
  color: white;
  transition: 0.5s ease;
}

/*----------------------------------------------------------------*/

.contactcontainer3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black; /*rgb(133, 53, 252,0.2)*/
  margin-bottom: 0;
  width: 100%;
  height: 200px;
  font-weight: bolder;
}

.copyright{
  text-align: center;
  color: white;
}

/*----------------------------------------------------------------*/

.logos{
  display: flex;
  justify-content: center;
  list-style: none;
  padding-top: 30px;
}

.logos li{
  padding-left: 20px;
  padding-right: 20px;
}

.logos .git i,.logos .lin i,.logos .ins i{
  width:15px;
  transition: ease;
  color: white;
}

.logos .git i:hover,.logos .lin i:hover,.logos .ins i:hover{
  width:15px;
  transition: ease;
  color: rgb(133, 53, 252);
}

.logos a::before {
  position: absolute;
  background-color: white;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  transform: translateY(100%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.logos li:hover .git::before {
  content: "Github"; 
  border: 3px solid white;
  background-color: black;
  color: white;
  opacity: 1;
  visibility: visible;
}

.logos li:hover .ins::before {
  content: "Instagram"; 
  border: 3px solid white;
  background-color: rgb(179, 0, 255);
  color: white;
  opacity: 1;
  visibility: visible;
}

.logos li:hover .lin::before {
  content: "Linkedin"; 
  border: 3px solid white;
  background-color:rgb(0, 114, 177) ;
  color: white;
  opacity: 1;
  visibility: visible;
}

/*-------------------------------------------------------------music------------------------------------------------------------------------*/

#myAudio {
  display: none;
}

.fa-volume-high:hover{
color: greenyellow;
}

.fa-volume-xmark:hover{
color: red;
}

/*----------------------------------------------------------Sun moon-----------------------------------------------------------------------*/

.theme-switch {
  cursor: pointer;
}

.theme-icon {
  font-size: 17px;
  vertical-align: middle;
  position: absolute;
}

.moon-icon {
  display: none;
}

.dark-mode .moon-icon {
  display: inline;
}

.dark-mode .sun-icon {
  display: none;
  
}

.sun-icon:hover {
  color: yellow;
}

.moon-icon:hover {
  color: black;
}


/*-----------------------------------------------------------all transition ----------------------------------------*/

@keyframes BodyslideInFromTop {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

.slide-in {
  animation: BodyslideInFromTop 0.8s ease-in-out;
}

