/*================================================================ Html ================================================================*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", serif;
    text-decoration: none;
    outline: none;
}

html{
    scroll-behavior: smooth;
}

/*================================================================ Scrool ===============================================================*/

::-webkit-scrollbar {
    width: 12px; 
  }

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb {
    background: rgb(176, 137, 255); 
    border-radius: 6px; 
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(151, 34, 252); 
}

/*================================================================ Body ================================================================*/

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    overflow-x: hidden;
    background-color: white;
    padding: 0;
    margin: 0 auto;
}

.body2{
    background-color: rgba(0, 0, 0, 0.036);
    width: 80%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*================================================================ Nav ================================================================*/

.nav{
    position: fixed;
    background-color: white;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    padding:15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: fit-content;
    z-index: 999;
    margin-top: 10px;
    animation: 0.8s navanimation;
}

@keyframes navanimation {
    0%{
        transform: translateY(-80px);
    }
    100%{
        transform: translateY(0px);
    }
}

.NKlogo-img{
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.NKlogo-img img{
    height: 20px;
    width: auto;
}

.nav-list{
    margin-right: 10px;
}

.nav-list li{
    list-style: none;
    display: inline-block;
    padding-left: 50px;
    font-size: large;
    font-weight: bold;
    color: black;
}

.nav-list li a{
    position: relative;
    color: black;
    text-decoration: none;
}

.theme-icon{
    cursor: pointer;
}

.nav-list li a:hover{
    color: rgb(151, 34, 252);

}
  
.nav-list li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: rgb(151, 34, 252);
    transition: width 0.3s ease-in-out;
}
  
.nav-list li a:hover::after {
    width: 100%;
}

.nav2{
    display: none;
}

.fa-solid.fa-bars{
    display: none;
}

.nav-list li a.active,
.nav-list2 li a.active {
    color: rgb(151, 34, 252);
}

.nav-list li a.active::after,
.nav-list2 li a.active::after {
    width: 100%;
}

.gotop{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 0;
    margin-bottom: 30px;
    margin-right: 30px;
    position: fixed;
    background-color: #bb6af5ae;
    height: 30px;
    width: 30px;
    border-radius: 10px;
    color: white;
}

.gotop:hover{
    transform: scale(1.2);
}

/*================================================================ Home ================================================================*/

.home{
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.fa-play{
    color: rgb(71, 239, 71);
    text-align: end;
    transition: 0.1s ease-in-out;
    cursor: pointer;
}

.fa-play:hover{
    font-size: x-large;
}

.typing{
    min-width: 400px;
    min-height: 250px;
    background-color: rgb(34, 34, 34);
    padding: 20px;
    border-radius: 10px;
    border: 10px solid black;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    z-index: 3;
}

.t1{
    font-size: 20px;
    color: #9cdcfe;
    position: absolute;
}

.t1 p{
    text-indent: 2rem;
}

.rtol{
    animation: 0.8s righttoleft;
}

@keyframes righttoleft {
    0%{
        transform: translateX(80px);
        
    }
    100%{
        transform: translateX(0px);
    }
}

.nehal-photo-1{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: 5px solid white;
    display: none;
}

.t2{
    display: none;
    margin-top: 10px;
    color: #C11C84;
    font-size: large;
    font-weight: bold;
}

.nehal-intro{
    display: flex;
    flex-direction: column;
}

.block1{
    background-color: rgb(246, 246, 246);
    height: 100px;
    width: 400px;
    z-index: 2;
}

.block2{
    background-color: rgb(246, 246, 246);
    height: 150px;
    width: 400px;
    z-index: 2;
}

.block1{
    transform: translateY(+20px);
}

.block2{
    transform: translateY(-20px);
}

.nehal-name, .khan-name{
    color: rgb(151, 34, 252);
    font-size: 100px;
    font-weight: bolder;
    z-index: 1;
    text-align: right;
}

.nehal-name{
    transform: translateY(+10px);
}

.khan-name{
    transform: translateY(-10px);
}

.ttob{
    animation: 0.8s toptobottom;
}

.btot{
    animation: 0.8s bottomtotop;
}

@keyframes toptobottom {
    0%{
        transform: translateY(-80px);
    }
    100%{
        transform: translateY(+10px);
    }
}

@keyframes bottomtotop {
    0%{
        transform: translateY(+100px);
    }
    100%{
        transform: translateY(-10px);
    }
}

.tagline{
    z-index: 3;
    font-style: italic;
    text-align: right;
}

.ltor{
    animation: 0.8s lefttoright;
}

@keyframes lefttoright {
    0%{
        transform: translateX(-80px);
    }
    100%{
        transform: translateX(0px);
    }
}

.faicon{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: end;
    gap:20px;
    font-size: large;
}

.faicon a{
    color: black;
}

.faicon a:hover{
    color: rgb(151, 34, 252);
    transform: translateY(-2px);
    transition: 0.2s ease-in-out;
}

.fal{
    animation: 0.4s bottomtotop2;
}

.fag{
    animation: 0.6s bottomtotop2;
}

.fae{
    animation: 0.8s bottomtotop2;
}

@keyframes bottomtotop2 {
    0%{
        transform: translateY(+50px);
    }
    100%{
        transform: translateY(0px);
    }
}

/*================================================================ About ================================================================*/

.about{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    align-items: center;
    margin-top: 100px;
}

.about-title{
    color: black;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    margin-bottom: 20px;
}

.about-intro{
    width: 400px;
    height: auto;
    text-align: justify;
    display: flex;
    flex-direction: column;
}

.about-intro p{
    text-indent: 2rem;
}

.nehal-photo-2{
    height: auto;
    width: 400px;
    border-radius: 30px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.cv{
    margin-top: 20px;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    width: fit-content;
    background-color: rgb(151, 34, 252);
    transition: background-color 0.2s;
}

.cv:hover{
    color: rgb(151, 34, 252);
    background-color: white;
}


/*================================================================ Exp ================================================================*/

.experience-container{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.timecircle{
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 5px solid greenyellow;
}

.timestick{
    position: absolute;
    height: 0px;
    width: 5px;
    background-color: greenyellow;
    border-radius: 10px;
}

.exp-column{
    display: flex;
    flex-direction: column;
}

.exp-title{
    margin-top: 100px;
    color: rgb(151, 34, 252);
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    margin-bottom: 50px;
}

.grids-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.grids{
    overflow: hidden; 
    padding:20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    transition: 0.2s ease-in-out;
    background-color: white;
    height: 130px;
    width: 279px;
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat;
    position: relative;
}

.grids img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
  z-index: 2;
  transform: translate(-20px, -20px); 
}

.exp-text {
  position: relative;
  z-index: 1;
  opacity: 1;
}

.grids:hover img {
  transform: translate(-20px, calc(-100% - 21px)); 
}

.grids a{
    color: rgb(151, 34, 252);
}

.grids-main:nth-child(odd){
    transform: translateX(-154.5px);
}

.grids-main:nth-child(even){
    flex-direction: row-reverse;
    transform: translateX(154.5px);
}

.grids p:nth-child(1){
    text-align: center;
    background-color: rgb(151, 34, 252);
    color: white;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 10px;
}

.timeanimation{
    animation: 1.5s linear timelength;
    animation-fill-mode: forwards;
}

@keyframes timelength {
    0%{
        height: calc(0% - 0px);
    }
    100%{
        height: calc(100% - 130px);
    }
}

/*================================================================ skills ================================================================*/

.skills-container{
    column-count: 3;
    column-gap: 20px;
}

.skill-title{
    margin-top: 100px;
    color: black;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    margin-bottom: 50px;
}

.skul{
    display: flex;
    flex-direction: column;
    padding:10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    background-color: rgb(151, 34, 252);
    break-inside: avoid;
    margin-bottom: 20px;
    width: 280px;
    opacity: 0%;

}

.skul p{
    text-align: center;
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
}

.sklist{
    list-style: none;
    background-color: white;
    border-radius: 10px;
    padding:10px;
    display: flex;
    flex-direction: column;
}

.sklist li{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 5px;
}

.sklist li img{
    width: 40px;
    height: 40px;
}

.learn-green{
    margin-left: auto;
    background-color: green;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    position: relative;
    display: none;
}

.learn-orange{
    margin-left: auto;
    background-color: orange;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    position: relative;
    display: none;
}

.learn-red {
    margin-left: auto;
    background-color: red;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    position: relative;
    display: none;
}

.learn-green:hover::after {
    content: "Adv.";
    position: absolute;
    top: 50%;
    left: 130%; 
    transform: translateY(-50%);
    background-color: #333;
    color: #fff;
    padding: 4px;
    border-radius: 2px;
    white-space: nowrap;
    font-size: 12px;
    z-index: 10;
}

.learn-orange:hover::after {
    content: "Inte.";
    position: absolute;
    top: 50%;
    left: 130%; 
    transform: translateY(-50%);
    background-color: #333;
    color: #fff;
    padding: 4px;
    border-radius: 2px;
    white-space: nowrap;
    font-size: 12px;
    z-index: 10;
}

.learn-red:hover::after {
    content: "Begn.";
    position: absolute;
    top: 50%;
    left: 130%; 
    transform: translateY(-50%);
    background-color: #333;
    color: #fff;
    padding: 4px;
    border-radius: 2px;
    white-space: nowrap;
    font-size: 12px;
    z-index: 10;
}

.skul:hover{
    transform: translateY(-10px);
}

.sklist li a{
    border: 2px solid rgb(151, 34, 252);
    color : rgb(151, 34, 252);
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.8s ease;
    width: 100%;
}

.sklist li a:hover{
    background-color: rgb(151, 34, 252);
    color: white;
}


/*============================================================ achievement =============================================================*/

.achievement{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.achievement-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.ach-title{
    font-size: xx-large;
    font-weight: bold;
    color: rgb(151, 34, 252);
    margin-top: 100px;
    margin-bottom: 50px;
}

.arrows{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    font-weight: bold;
    border-radius: 100%;
    background-color: white;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.arrows:hover{
    transform: scale(1.2);
}

.phone-arrow{
    display: none;
    gap:20px;
    width: 100%;
    justify-content:right;
    align-items: end;
}

.card{
    background-color: rgb(151, 34, 252);
    padding: 20px;
    height: 500px;
    width: 500px;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.card1{
    display: flex;
}

.card img{
    width: 460px;
    max-height: 350px;
    border-radius: 10px;
    cursor: pointer;
}

.ach-abt{
    width: 460px;
    height: 100%;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    text-align: center;
}

.ach-head{
    font-size: large;
    font-weight: bold;
}

.ach-subhead{
    font-style: italic;
}

.circle-indexx-container{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.circle-indexx {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #bdbbbb;
    
}

/*============================================================== project ===============================================================*/

.project{
    width: 100%;
    display:none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-title{
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 50px;
    margin-top: 100px;
}

.project-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:50px;
    margin-bottom: 50px;
    padding: 20px;
    
}

.work{
    min-width: 1000px;
    max-width: 1000px;
    padding:20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: rgb(151, 34, 252);
}

.work img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.about-work{
    display: flex;
    flex-direction: column;
}

.work-title{
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.work-desc{
    text-align: justify;
    padding: 20px;
    border-radius: 10px;
    /*background-color: rgb(232, 210, 251);*/
    width: 450px;
    height: 100%;
}

.moredetails{
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    width: 100%;

}

.work-photos{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.work-photos img{
    margin-top: 10px;
    border-radius: 10px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.work-photos img:hover{
    transform: translateY(-5px);
}

/*============================================================== contact ===============================================================*/

.contact-container{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.letsconnect{
    color: greenyellow;
    font-size: x-large;
    font-style: italic;
}

.contact-container-inside{
    display: flex;
    flex-direction: row;
    gap:40px;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.contact-info{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.contact-info-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    padding:20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    gap: 20px;
    width: 230px;
}

.contact-info-box .fa-solid{
    font-size: large;
    color: rgba(151, 34, 252, 1);
}

.contact-info-box p{
    font-size: small;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px; 
}

#name{
    background-color: rgba(151, 34, 252, 1);
}

#email{
    background-color: rgba(151, 34, 252, 0.8);
}

#subject{
    background-color: rgba(151, 34, 252, 0.6);
}

textarea{
  background-color: rgba(151, 34, 252, 0.4);
}

input::placeholder, textarea::placeholder {
    color: rgb(24, 38, 53, 0.4);
    font-style: italic;
    font-size: medium;
}

input, textarea{
    border-radius: 30px;
    border: 0px;
    padding-left:20px ;
    height: 40px;
    font-size: medium;
    font-weight: 600;
    width: 400px;
    color: rgb(0, 0, 0);
}

textarea{
    height:150px;
    padding-top: 10px;
}

.btn-md{
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    width: 150px;
    background-color: rgb(151, 34, 252);
    transition: background-color 0.2s;
    border: none;
    font-size: large;
}

.btn-md:hover{
    color: rgb(151, 34, 252);
    background-color: white;
}

/*============================================================ contact 2 ===============================================================*/

.contact-container-2{
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0 50px 0;
}

.contact-container-3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.NKlogo-img-2{
    display: flex;
    justify-content: right;
}


.NKlogo-img-2 img{
    width: 50px;
    height: auto;
}

.nav3{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.nav3 a{
    color: rgb(176, 137, 255);
    text-align: center;
    font-weight: bold;
}

.nav3 a:hover{
    color: greenyellow;
    transform: translateY(-2px);
    transition: 0.2s ease-in-out;
}

.logos{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.logos a{
    transition: ease;
    color: white;
    transition: 0.2s ease-in-out;
    text-align: center;
}

.logos a:hover{
    color: rgb(151, 34, 252);
    transform: translateY(-2px);
    transition: 0.2s ease-in-out;
}

.blck1, .blck2{
    background-color: black;
    height: 20px;
    width: 100%;
    z-index: 2;
}

.Nehal_Name_2{
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: large;
    color: white;
}

.Nehal_Name_2 p{
    text-align: center;
    width: fit-content;
    z-index: 1;
    animation: nametransition 3s ease-in-out infinite;
}


@keyframes nametransition {
    0% {
        transform: translateY(-20px);
    }
    25% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px);
    }
    75% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}

.copyr{
    color: white;
}


/* ====================================================== all transition =====================================================*/

@keyframes BodyslideInFromleft {
    from {
      opacity: 0;
      visibility: hidden;
      transform: translateX(-30px);
    }
    to {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
}
  
.slide-in-left {
    animation: BodyslideInFromleft 0.8s ease-in-out;
}

@keyframes BodyslideInFromright {
    from {
      opacity: 0;
      visibility: hidden;
      transform: translateX(+30px);
    }
    to {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
}
  
.slide-in-right {
    animation: BodyslideInFromright 0.8s ease-in-out;
}


@keyframes cardslideInFromleft {
    from {
      opacity: 0;
      visibility: hidden;
      transform: translateX(-40px);
    }
    to {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
}
  
.cardslide-in-left {
    animation: cardslideInFromleft 0.4s ease-in-out;
}

@keyframes cardslideInFromright {
    from {
      opacity: 0;
      visibility: hidden;
      transform: translateX(+40px);
    }
    to {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
}
  
.cardslide-in-right {
    animation: cardslideInFromright 0.4s ease-in-out;
}

.visi-animation{
    animation: 0.75s linear visibilenature;
    animation-fill-mode: forwards;
}

@keyframes visibilenature{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}