
/*-----------------------------------------------------------------------Nav bar----------------------------------------------------------*/


#menuToggle {
    display: none;
}

#menuToggle:hover{
    background-color: white;
    color: black;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    
}

#menulist{
    display: none;
    position: absolute;
    top: 35px;
    right: 50px;
    border-radius: 5px;
    background-color: rgb(30, 13, 56);
    color: white;
    width: 200px; 
    height:fit-content;
    text-align: center;
    list-style-type: none;
}

#menulist li {
    padding-bottom: 5px; 
}

@media only screen and (max-width: 1150px) {
    #menuToggle, #nklogo{
        display: inline;
    }

    .menubar li {
        display: none;
    }

}

@media only screen and (min-width: 1151px) {
    #menulist li , #menulist{
        display: none;
    }
}

/*-----------------------------------------------------------------------body----------------------------------------------------------*/

    @media only screen and (max-width: 1430px){
        .frontcontainer, .aboutcontainer , .educationcontainer,.skillscontainer, .workcontainer,.achivementcontainer, .contactcontainer{
            max-width: 80%;
        }
    }

    @media only screen and (max-width: 1420px){
        .frontcontainer, .aboutcontainer , .educationcontainer,.skillscontainer, .workcontainer,.achivementcontainer, .contactcontainer{
            max-width: 90%;
        }
    }

    @media only screen and (max-width: 410px){
        .frontcontainer, .aboutcontainer , .educationcontainer,.skillscontainer, .workcontainer,.achivementcontainer, .contactcontainer{
            max-width: 95%;
        }
    }

/*-----------------------------------------------------------------------Front----------------------------------------------------------*/

@media only screen and (max-width: 930px){
    .text1 span{
        font-size: 25px;
    }
    .text1{
        margin-top: 20%;
    }
}

@media only screen and (max-width: 760px){
    .text1{
        margin-left: 10%;
        margin-top: 20%;
    }
}

@media only screen and (max-width: 600px){
    .text1{
        margin-left: 10%;
        margin-top: 30%;
    }
}

/*-----------------------------------------------------------------------about----------------------------------------------------------*/

@media only screen and (max-width: 1420px){
    .aboutcontainer2 {
        display: flex;
        flex-direction: column;
        align-items: center; 
    }

    .abtme{
        margin-top: 50px;
    }
    
}

@media only screen and (max-width: 410px){

    .nkphoto{
        height: 450px;
        width: auto;
    }

    .abtme{
        height: auto;
        width: 307px;
    }

    .abouttext{
        font-size: large;
    }
    
}

/*-----------------------------------------------------------------------education----------------------------------------------------------*/

@media only screen and (max-width: 620px){
    
    .educationcontainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start; /* Align items to the start (left) */
      }
      
      .educationtext {
        font-size: x-large;
        color: orange;
        margin-top: 50px;
        border-radius: 30px;
        text-align: left; /* Align text to the left */
      }
      
      .main {
        width: 100%;
        margin-top: 30px;
      }
      
      .timecontainer {
        width: 100%; /* Adjust width */
      }
      
      .timecontainer ul {
        list-style: none;
        padding: 0; /* Remove default padding */
      }
      
      .timecontainer ul li {
        width: 100%;
        margin-bottom: 50px;
      }
      
      .timecontainer ul li .heading {
        font-size: large;
        color: greenyellow;
      }
      
      .timecontainer ul li p, .timecontainer ul li a, .timecontainer ul li .date {
        font-size: medium;
        color: white;
        line-height: 18px;
        margin: 6px 0 4px 0;
        font-weight: bold;
        text-decoration: none;
      }
      
      .timecontainer ul li a {
        color: black;
        transition: all 0.3s ease;
      }

      .timecontainer ul li:nth-child(odd) {
        float: right;
        clear: left;
        text-align: right;
        transform: translateX(0px);
    }

    .timecontainer ul li:nth-child(even) {
        float: right;
        clear: left;
        text-align: left;
        transform: translateX(0px);
    }

      .circle::after{
        display: none;
      }
      .timecontainer ul li .circle{
        display: none;
      }
      
}
/*-----------------------------------------------------------------------skills----------------------------------------------------------*/

@media only screen and (max-width: 410px){

    .skilltext1{
        margin-bottom: 50px;
        font-size: large;
    }

    .skilltext{
        margin-top: 5px;
        font-size: medium;
    }

    .logobox{
        width: 100px;
        height: 100px;
        margin-top: 10px;
    }

    .logoskill {
        gap: 20px;
      }
    
}

/*-----------------------------------------------------------------------work----------------------------------------------------------*/


@media only screen and (max-width: 410px){

    .worktext{
        font-size: medium;
    }

    .wrapper{
        margin-top: 50px;
    }

    .wrapper i:first-child{
        left: -50px;
    }
    .wrapper i:last-child{
        right: -50px;
    }

    .video-container iframe{
        width:130;
        height:80;
    }

    .about_the_work{
        margin-top: 10px;
        padding:0 30px 0 30px;
        font-size: small;
    }

    .try_button{
        margin-left: 30px;
    }
}

/*-----------------------------------------------------------------------achivement----------------------------------------------------------*/


@media only screen and (max-width: 880px){
    .img2 img{
        width: 525px;
        height: 350px;
    }

    .abtcerti{
        width: 525px;
    }

    .abtcerti h2{
        font-size: large;
    }
    .abtcerti span{
        font-size: small;
    }
}

@media only screen and (max-width: 800px){
    .img2 img{
        width: 450px;
        height: 300px;
    }
    .abtcerti{
        width: 450px;
    }
}

@media only screen and (max-width: 690px){
    .img2 img{
        width: 375px;
        height: 250px;
    }
    .abtcerti{
        width: 375px;
    }
}

@media only screen and (max-width: 410px){
    .img2 img{
        width: 275px;
        height: 183px;
    }
    .abtcerti{
        width: 275px;
    }

    .wrapper2 i:first-child{
        left: -50px;
      }
    .wrapper2 i:last-child{
        right: -50px;
      }

    .circles-indexx {
        margin-top: 120px;

    }
    .achivementtext{
        font-size: medium;
    }
}

/*-----------------------------------------------------------------------contact----------------------------------------------------------*/

@media only screen and (max-width: 1020px){
    .form-group-title{
        width: 100px;
    }
    .contact-form input, .contact-form textarea{
        width: 400px;
    }
    .contact-form {
        border-spacing: 30px 20px; 
      }
}

@media only screen and (max-width: 900px){
    .letsconnect{
        font-size: larger;
    }
    .contact-form input, .contact-form textarea{
        width: 350px;
    }
    .contact-form {
        border-spacing: 20px 20px; 
      }
}

@media only screen and (max-width: 770px){
    .letsconnect{
        font-size: medium;
    }
    .contact-form input, .contact-form textarea{
        width: 300px;
    }
    .contact-form {
        border-spacing: 0px 20px; 
      }
}

@media only screen and (max-width: 690px){
    .contact-form-div {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .form-group-title{
        display: none;
    }
    
    .contact-form tr{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }

    .contact-form input, .contact-form textarea{
        margin-top: 10px;
    }
}

@media only screen and (max-width: 410px){
    .contact-form{
        margin-top: 50px;
    }

    .btn-md{
        margin-left: 0px;
      }

    .letsconnect{
        font-size: medium;
    }

    .copyright{
        font-size: small;
    }
}

