/*================================================================ Nav Bar ================================================================*/

#menuToggle {
    display: none;
}

#menuToggle:hover{
    background-color: white;
    color: black;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
}

#menulist{
    display: none;
    position: absolute;
    top: 35px;
    right: 50px;
    border-radius: 5px;
    background-color: black;
    color: white;
    width: 200px; 
    height:fit-content;
    text-align: center;
    list-style-type: none;
}

#menulist li {
    padding-bottom: 5px; 
}

@media only screen and (max-width: 1150px) {
    #menuToggle, #nklogo{
        display: inline;
    }
    .menubar li {
        display: none;
    }
}

@media only screen and (min-width: 1151px) {
    #menulist li , #menulist{
        display: none;
    }
}

/*================================================================ Body ================================================================*/

@media only screen and (max-width: 1420px){
    .Home_Container, .About_Container , .Education_Container,.Skills_Container, .Work_Container,.Achievement_Container, .contact_container{
        max-width: 90%;
    }
}

@media only screen and (max-width: 410px){
    .Home_Container, .About_Container , .Education_Container,.Skills_Container, .Work_Container,.Achievement_Container, .contact_container{
        max-width: 95%;
    }
}

/*================================================================ Home ================================================================*/

@media only screen and (max-width: 930px){
    .Home_Text{
        margin-top: 20%;
    }
    .Nehal_Name{
        width: 400px;
    }
}


@media only screen and (max-width: 600px){
    .Home_Text{
        margin-top: 30%;
    }
    .Nehal_Name{
        width: 300px;
    }
}

@media only screen and (max-width: 500px){
    .Home_Up{
        bottom: 30px;
        right: 30px;
        height: 40px;
        width: 40px;
    }
    .Home_Up img{
        height: 40px;
        width: 40px;
    }
    .Nehal_Name{
        width: 200px;
    }
}

/*================================================================ About ================================================================*/

@media only screen and (max-width: 1420px){
    .profile_content{
        transform: scale(0.8);
    }
    .About_Container_1 {
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    .About_Me_Inside{
        margin-top: 50px;
    }
}

@media only screen and (max-width: 500px){
    .profile_content{
        transform: scale(0.7);
    }
    .About_Me_Insidet{
        height: auto;
        width: 307px;
    }
}

/*============================================================== Education ==============================================================*/

@media only screen and (max-width: 620px){
    .main {
        width: 100%;
        margin-top: 30px;
    }
    .timecontainer {
        width: 100%; 
    }
    .timecontainer ul {
        list-style: none;
        padding: 0; 
    }
    .timecontainer ul li {
        width: 100%;
        margin-bottom: 80px;
    }
    .timecontainer ul li .heading {
        font-size: large;
        color: greenyellow;
    }
    .timecontainer ul li p, .timecontainer ul li a, .timecontainer ul li .date {
        font-size: medium;
        color: white;
        line-height: 18px;
        margin: 6px 0 4px 0;
        font-weight: bold;
        text-decoration: none;
    }
    .timecontainer ul li a {
        color: black;
        transition: all 0.3s ease;
    }
    .timecontainer ul li:nth-child(odd) {
        float: right;
        clear: left;
        text-align: right;
        transform: translateX(0px);
    }
    .timecontainer ul li:nth-child(even) {
        float: right;
        clear: left;
        text-align: left;
        transform: translateX(0px);
    }
    .circle::after{
        display: none;
    }
    .timecontainer ul li .circle{
        display: none;
    }
    .b1{
        height: 550px;
        width: 550px;
    }
    .b2{
        height: 400px;
        width: 400px;
    }
    .b3{
        height: 250px;
        width: 250px;
    }
    .b4{
        height: 100px;
        width: 100px;
    }
}

/*================================================================ Skill ================================================================*/

@media only screen and (max-width: 500px){
    .skilltext{
        margin-top: 5px;
        font-size: medium;
    }
}

/*================================================================ Work ================================================================*/

@media only screen and (max-width: 500px){

    .wrapper{
        margin-top: 50px;
    }

    .wrapper i:first-child{
        left: -50px;
    }
    .wrapper i:last-child{
        right: -50px;
    }

    .video-container iframe, .video-container img{
        width:250px;
        height:auto;
    }

    .about_the_work{
        margin-top: 10px;
        padding:0 30px 0 30px;
        font-size: small;
    }

    .try_button{
        margin-left: 30px;
    }
}

/*============================================================== Achivement ==============================================================*/

@media only screen and (max-width: 880px){
    .img2 img{
        width: 525px;
        height: 350px;
    }

    .abtcerti{
        width: 525px;
    }

    .abtcerti h2{
        font-size: large;
    }
    .abtcerti span{
        font-size: small;
    }
}

@media only screen and (max-width: 800px){
    .img2 img{
        width: 450px;
        height: 300px;
    }
    .abtcerti{
        width: 450px;
    }
}

@media only screen and (max-width: 690px){
    .img2 img{
        width: 375px;
        height: 250px;
    }
    .abtcerti{
        width: 375px;
    }
}

@media only screen and (max-width: 500px){
    .img2 img{
        width: 275px;
        height: 183px;
    }
    .abtcerti{
        width: 275px;
    }

    .wrapper2 i:first-child{
        left: -50px;
      }
    .wrapper2 i:last-child{
        right: -50px;
      }

    .circles-indexx {
        margin-top: 120px;

    }
}

/*================================================================ Contact ================================================================*/

@media only screen and (max-width: 1020px){
    .form-group-title{
        width: 100px;
    }
    .contact-form input, .contact-form textarea{
        width: 400px;
    }
    .contact-form {
        border-spacing: 30px 20px; 
      }
}

@media only screen and (max-width: 900px){

    .contact-form input, .contact-form textarea{
        width: 350px;
    }
    .contact-form {
        border-spacing: 20px 20px; 
    }
}

@media only screen and (max-width: 770px){

    .contact-form input, .contact-form textarea{
        width: 300px;
    }
    .contact-form {
        border-spacing: 0px 20px; 
    }
}

@media only screen and (max-width: 690px){
    .contact-form-div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact-form {
        border-spacing: 0px 20px; 
    }

    .logos li a i{
        font-size: large;
    }

    .logos li{
        padding-left: 2px;
        padding-right: 2px;
    }
    
    .Nehal_Name_2{
        font-size: medium;
        animation: nametransition 3s ease-in-out infinite;
    }

}

/*================================================================  ================================================================*/